In [1]:
range(56)

range(0, 56)

In [3]:
for i in range (0,56):print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [4]:
for i in range (10,20,2):print(i)

10
12
14
16
18

In [5]:
for i in range (10,21,2):print(i)

10
12
14
16
18
20

In [6]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [7]:
for i in range(5):print('vishnu')

vishnu
vishnu
vishnu
vishnu
vishnu

In [8]:
for i in range(5):print(i,'vishnu')

0 vishnu
1 vishnu
2 vishnu
3 vishnu
4 vishnu

In [1]:
for i in range(1,5):
    print(i,'vishnu')

1 vishnu
2 vishnu
3 vishnu
4 vishnu

In [10]:
#range is use to inside the format

# SET

In [1]:
#Unorederd collection of element

In [4]:
s={1,2,3,4,5,6,'vishnu',12.5}
s

{1, 12.5, 2, 3, 4, 5, 6, 'vishnu'}

In [9]:
s1=set([10,60,30,40,50])
s1

{10, 30, 40, 50, 60}

In [10]:
s[0]

TypeError: 'set' object is not subscriptable

In [11]:
s1[0:3]

TypeError: 'set' object is not subscriptable

In [12]:
#set cannot used all function

In [13]:
s.add(21)

In [14]:
s

{10, 20, 21, 30, 40, 50}

In [17]:
s.remove(40)

In [18]:
s

{10, 20, 21, 30, 50}

In [19]:
s.add(21)

In [20]:
s

{10, 20, 21, 30, 50}

In [21]:
#Set cannot store duplicate element
s

{10, 20, 21, 30, 50}

In [22]:
s.add(21)

In [24]:
s

{10, 20, 21, 30, 50}

In [26]:
s={2,2,}
s

{2}

In [27]:
type(s)

set

# Frozenset

In [28]:
#same as set cannot be modified
#inmuteble

In [31]:
fz=frozenset(s1)
fz

frozenset({10, 30, 40, 50, 60})

In [32]:
fz.add(34)

AttributeError: 'frozenset' object has no attribute 'add'

In [33]:
fz.remove(10)

AttributeError: 'frozenset' object has no attribute 'remove'

In [34]:
s =set(fz)

In [35]:
s

{10, 30, 40, 50, 60}

# Mappping

In [36]:
#Ex of mapppig is dict

dict

In [40]:
student={10:'Ram',11:'Vishnu',12:'Raj',13:'laxmi',14:'sita'}
student

{10: 'Ram', 11: 'Vishnu', 12: 'Raj', 13: 'laxmi', 14: 'sita'}

In [41]:
student[11]

'Vishnu'

In [42]:
print(student[12])

Raj

In [43]:
student[12]

'Raj'

In [44]:
student[12]='Ritaa'

In [45]:
student[12]

'Ritaa'

In [46]:
#del(student[12])

In [47]:
len(student)

5

In [53]:
K=student.keys()
K

dict_keys([10, 11, 12, 13, 14])

In [55]:
for i in K:print(i)

10
11
12
13
14

In [58]:
v=student.values()
v

dict_values(['Ram', 'Vishnu', 'Ritaa', 'laxmi', 'sita'])

In [60]:
for i in v:print(i)

Ram
Vishnu
Ritaa
laxmi
sita

In [64]:
for K,v in student.items():print(k,v)

14 Ram
14 Vishnu
14 Ritaa
14 laxmi
14 sita

In [65]:
type(student)

dict

In [68]:
import math
math.pi

3.141592653589793

In [69]:
math.pi=1.5

In [70]:
math.pi

1.5

In [7]:
str='madam'
str1=str[::-1]
print (str1)

madam