In [1]:
str='Core \n python'
print(str)

Core
 python

In [4]:
str='Core\tpython'
print(str)

Core	python

In [9]:
str=r'Core\n python'
print(str)

Core\n python

In [7]:
str='Mat man not mop tun rat Maaa'
import re 
obj=re.search(r'M\w\w\w',str)
if obj:
    print(obj.group())
else:
    print("Not Found")

Maaa

In [10]:
str='Mat man not mop tun rat mmm Mbb zava'
import re
lst=re.findall(r'n\w\w',str)
print(lst)
for i in lst:print(i)

['not']
not

In [15]:
str='Mat man not mop tun rat mmm'
import re
lst=re.match(r'M\w\w', str)
if lst:
    print(lst.group())
else:
    print("Not fount")

Mat

In [16]:
#only age

str='Vijay 20 1-10-2001, vishnu 32 21-02-3001, Raj 45 20-12-2001'

import re
obj=re.findall(r'\s\d\d\s',str)
print(obj)

[' 20 ', ' 32 ', ' 45 ']

In [56]:
#only char

str='Vijay 20 1-10-2001, vishnu 32 21-02-3001, Raj 45 20-12-2001'

import re
obj1=re.findall(r'\D+',str)
print(obj1)

['Vijay ', ' ', '-', '-', ', vishnu ', ' ', '-', '-', ', Raj ', ' ', '-', '-']

In [58]:
#only b.day Date
#only char

str='Vijay 20 1-10-2001, vishnu 32 21-02-3001, Raj 45 20-12-2001'

import re
obj1=re.findall(r'\d{1,2}-\d{1,2}-\d\d\d\d',str)
print(obj1)

['1-10-2001', '21-02-3001', '20-12-2001']

In [6]:
#regax tetrieve all strings with an and ak
data="vishnu akasahyu raj piyu rani uttu nalaycka anil anant ankur viskja"
import re
lst=re.findall(r'v[is]\w*',data)
print(lst)

['vishnu', 'viskja']

In [66]:
#one or more numbers available
str='gopi 2222 vinay subba rao 45642'
import re
obj=re.split(r'\d+', str)
print(obj)

['gopi ', ' vinay subba rao ', '']

In [65]:
str='Khmbhmela will be conducted at Ahmedabad'
import re
str1=re.sub(r'Ahmedabad',r'Hyderbad',str)
str1

'Khmbhmela will be conducted at Hyderbad'

In [69]:
#uing ^ start str is avialale ot not
import re
str= 'Hello world'
obj=re.search(r'^He', str)
if obj :print('Yes')
else:print("NO")

Yes

In [75]:
#$--end with str  (id is end or not)
import re
str= 'Hello world'
obj=re.search(r'ld$', str)
if obj :print('Yes')
else:print("NO")

Yes

In [ ]:
import urllib.request

In [40]:
lst=[1,2,3,4,5,6,7,8,9,10]
lst[1:10:4]

[2, 6, 10]