## To Display no. 1 to 10

In [10]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
obj=range(1,11)
for i in obj:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [17]:
for i in range(1,11):
    print(i,end='\t ')

1	 2	 3	 4	 5	 6	 7	 8	 9	 10

## Display Even No.  10 to 20

In [18]:
for i in range (10,21):
    if i % 2==0:
        print(i)

10
12
14
16
18
20

In [19]:
for i in range (10,21,2):
    if i % 2==0:
        print(i)

10
12
14
16
18
20

In [24]:
for i in range (10,21,3):
    print(i)

10
13
16
19

###retrive only even numbers in list

In [35]:
mylst=[10,11,12,13,14,14,5,12,-12,46,5,0]
lst=[]
for i in mylst:
    if i%2==0 and i!=0 and i>=0:
        lst.append(i)
print(lst)

[10, 12, 14, 14, 12, 46]

# To find sum of list of numbers

In [39]:
mylst=[10,11,12,13,14,14,5,12,-12,46,5,0]
res= sum (mylst)
res

130

In [42]:
mylst=[10,11,12,13,14,14,5,12,-12,46,5,0]
res= sum (mylst)
sum1=0
for x in mylst:
    sum1=sum1+x
print(sum1)

130

# to display the staraing latter of the strings

In [46]:
words=['Vishnu', 'Aksahay', 'Raj', 'Nilesh', 'Mahesh']
for word in words:
    print(word)

Vishnu
Aksahay
Raj
Nilesh
Mahesh

In [45]:
words=['Vishnu', 'Aksahay', 'Raj', 'Nilesh', 'Mahesh']
for word in words:
    print(word[0])

V
A
R
N
M

In [47]:
words=['Vishnu', 'Aksahay', 'Raj', 'Nilesh', 'Mahesh']
for word in words:
    print(word,word[0])

Vishnu V
Aksahay A
Raj R
Nilesh N
Mahesh M

In [58]:
w=[i for i in input('Enter Strings').split(',')]
print(w)
for word in w:
    word=word.strip()
    print(word[0])

Enter Stringsvishnu , karande , balsao, proitan
['vishnu ', ' karande ', ' balsao', ' proitan']
v
k
b
p

# Else Suite Demo

In [67]:
lst=[10,20,30,-40,50,55]

x=int(input('Enter a number '))
for i in lst:
    if i == x:
        print('Found')
    else:
        print('Not Found')

Enter a number 50
Not Found
Not Found
Not Found
Not Found
Found
Not Found

In [78]:
lst=[10,20,30,-40,50,55]

x=int(input('Enter a number '))
for i in lst:
    if i == x:
        print('Found')
        break
else:
    print('Not Found')

Enter a number 100
Not Found

In [1]:
prob=[[0,1,0,0,0,],
   [0,0,0,1,0]]

ycap=[]
for v in prob:
    cnt=0
    for j in v:
        if j==1:
            ycap.append(cnt)
        cnt=cnt+1
print(ycap)

[1, 3]

In [14]:
print(v)

[0, 0, 0, 1, 0]

In [15]:
print(j)

0

In [16]:
print(prob)

[[0, 1, 0, 0, 0], [0, 0, 0, 1, 0]]

In [2]:
#you tube

for i in range(1,6):
    for j in range(1,i+1):
        print('*',end='')
    print("")

*
**
***
****
*****

In [13]:
for i in range(1,6):
    for j in range(1,6):
        
        print('*',end="")
    print('')

*****
*****
*****
*****
*****

In [26]:
for i in range(1,10):
    for j in range(1,i):
        print("A", end="")
    print()

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
AAAAAAAA

In [18]:
for i in range(1,11):
    for j in range(1,i):
        print("#", end=" ")
    print('')

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # # # #

In [34]:
i=1
while i<11:
    j=1
    while(j<=i):
        print('X', end="")
        j+=1
    print()
    i=i+1

X
XX
XXX
XXXX
XXXXX
XXXXXX
XXXXXXX
XXXXXXXX
XXXXXXXXX
XXXXXXXXXX

In [16]:
for i in range(0,7):
    for j in range(0,6):
        print(i+0, end="")
    print("")

000000
111111
222222
333333
444444
555555
666666

In [10]:
for i in range(1,6):
    for J in range(1,4):
        print("*", end=" ")
    print("")

* * *
* * *
* * *
* * *
* * *

In [13]:
i=1
while i<=5:
    j=1
    while j<=3:
        print("*", end="")
        j=j+1
    print("")
    i=i+1

***
***
***
***
***

In [28]:
for i in range(1,6):
    for j in range(i,1):
        if i%2==0:
            print("*")
        else:
            print("+")

In [48]:
x=[1,2,3,4,5,6,7,8,9]
for i in range(4):
    for j in range(4):
        print(x, end=" ")
        x=x+2
    print()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

TypeError: can only concatenate list (not "int") to list

In [50]:
for i in range(2,4):
    for j in range(1,11):
        print(i, '*',j , i*j)
    print()

2 * 1 2
2 * 2 4
2 * 3 6
2 * 4 8
2 * 5 10
2 * 6 12
2 * 7 14
2 * 8 16
2 * 9 18
2 * 10 20

3 * 1 3
3 * 2 6
3 * 3 9
3 * 4 12
3 * 5 15
3 * 6 18
3 * 7 21
3 * 8 24
3 * 9 27
3 * 10 30

In [59]:
i=3
while i<=3:
    j=1
    while j<=10:
        print(i*j)
        j=j+1
    print()
    i=i+1

3
6
9
12
15
18
21
24
27
30