In [1]:
range(56)

range(0, 56)

In [3]:
for i in range (0,56):print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [4]:
for i in range (10,20,2):print(i)

10
12
14
16
18

In [5]:
for i in range (10,21,2):print(i)

10
12
14
16
18
20

In [6]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [7]:
for i in range(5):print('vishnu')

vishnu
vishnu
vishnu
vishnu
vishnu

In [8]:
for i in range(5):print(i,'vishnu')

0 vishnu
1 vishnu
2 vishnu
3 vishnu
4 vishnu

In [9]:
for i in range(1,5):print(i,'vishnu')

1 vishnu
2 vishnu
3 vishnu
4 vishnu

In [10]:
#range is use to inside the format

# SET

In [1]:
#Unorederd collection of element

In [4]:
s={1,2,3,4,5,6,'vishnu',12.5}
s

{1, 12.5, 2, 3, 4, 5, 6, 'vishnu'}

In [9]:
s1=set([10,60,30,40,50])
s1

{10, 30, 40, 50, 60}

In [10]:
s[0]

TypeError: 'set' object is not subscriptable

In [ ]:
#set cannot used all function