In [6]:
a=13;b=5
a+b

18

In [7]:
a*b

65

In [8]:
a/b

2.6

In [9]:
a//b

2

In [10]:
a%b

3

In [12]:
b ** 3

125

In [13]:
a=16
a

16

In [14]:
a

16

In [15]:
a=b=c=d=10

In [17]:
print(a,b,c,d)

10 10 10 10

In [18]:
a+b+c+d

40

In [19]:
a,b,c,d=10,20,30,40

In [20]:
a

10

In [21]:
b

20

In [22]:
c

30

In [23]:
d

40

In [24]:
a,b,c,d

(10, 20, 30, 40)

In [27]:
a>b

False

In [28]:
a<b

True

In [29]:
a == b

False

In [31]:
b==a

False

In [32]:
a!=2

True

In [33]:
a==b and a!=b

False

In [34]:
a==b or a!=b

True

In [37]:
a==b and a==b

False

In [40]:
mylist=[10,20,30,40]
x=30
x in mylist

True

In [41]:
mylist=[10,20,30,40]
x= 100
x in mylist

False

In [43]:
100 not in mylist

True

In [60]:
sal=300

In [61]:
sal

300

In [62]:
print('your salary is', sal)

your salary is 300

In [63]:
name='vishnu'

In [69]:
print('Hello',name,'Your salary is',sal)

Hello vishnu Your salary is 300

In [76]:
print('Hello %s, your salary %f'%(name, sal))

Hello vishnu, your salary 300.000000

In [77]:
type(sal)

int

In [81]:
print('Hello %s, your salary %.1f'%(name, sal))

Hello vishnu, your salary 300.0

In [91]:
print('hello %15s , Your salary %10.3f'%(name, sal))

hello          vishnu , Your salary    300.000

In [87]:
name.lstrip('v')

'ishnu'

In [86]:
name

'vishnu'

In [92]:
print('hello %-15s , Your salary %10.3f'%(name, sal))

hello vishnu          , Your salary    300.000

In [96]:
print('Hello {}, Your salary {}'.format(name, sal))

Hello vishnu, Your salary 300

In [97]:
print('Hello {1}, Your salary {0}'.format(name, sal))

Hello 300, Your salary vishnu

In [98]:
print('Hello {0}, Your salary {1}'.format(name, sal))

Hello vishnu, Your salary 300

In [100]:
print('Hello {1}, Your salary {0}'.format(sal, name))

Hello vishnu, Your salary 300

In [104]:
print('Hello {}, Your salary {:.1f}'.format(name, sal))

Hello vishnu, Your salary 300.0

In [110]:
a,b,c,d,e,d=10,20,30,40,50,60
print(c)

30

In [111]:
print(a,b,c,d,e,d)

10 20 30 60 50 60

In [112]:
print(a,b,c,d,e,d, sep='/')

10/20/30/60/50/60

In [113]:
print(a,b,c,d,e,d, sep='vishnu')

10vishnu20vishnu30vishnu60vishnu50vishnu60

In [115]:
print(a,b,c,d,e,d, sep='------')

10------20------30------60------50------60