In [1]:
lst=[]
for i in range(1,11):
    lst.append(i*i)
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Compression

In [11]:
lst=[i*i for i in range(1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#Writr a list comprehension to get even number no. uptp 10

In [12]:
lst1=[]
for i in range(1,11,2):
    lst1.append(i)
lst1

[1, 3, 5, 7, 9]

In [13]:
lst=[i-1 for i in range(1,11)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
lst1=[]
for i in range(2,11,2):
    lst1.append(i) 
lst1

[2, 4, 6, 8, 10]

In [4]:
lst=[i for i in range(2,11,2)]
lst

[2, 4, 6, 8, 10]

In [16]:
lst1=[]
for i in range(1,20):
    if i%2==0:
        lst1.append(i)
lst1

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
lst2=[i for i in  range(2,11) if i%2==0]
lst

[2, 4, 6, 8, 10]

In [21]:
lst3=[i for i in range(2,20) if i%4==0]
lst3

[4, 8, 12, 16]

# Add element

In [22]:
a=[2,3,4,5,6,7]
b=[3,7,2,4,6,7]
c=[]

for i in range(6):
    c.append(a[i]+b[i])
print(c)

[5, 10, 6, 9, 12, 14]

In [32]:
c=[a[i]+b[i] for i in range(6)]
print(c)

[5, 10, 6, 9, 12, 14]

In [33]:
a

[2, 3, 4, 5, 6, 7]

Retrive commom element in two list

In [24]:
a=[10,11,12,13,14,14,20]
b=[-5,55,12,33,0,10,20]
c=[]
for x in a: 
    if x in b:
        c.append(x)
print(c)

[10, 12, 20]

In [29]:
c=[x for x in a if x in b]
c

[10, 12, 20]

In [39]:
c=[x for x in a if x in b]
c

[10, 12]

Retrive only 1st latter of each word in list

In [9]:
words=['vishnu','Raj','Ramu','Rani','karande','piyu','akshay ']
lst=[]
for word in words:
    lst.append(word[2])
lst

['s', 'j', 'm', 'n', 'r', 'y', 's']

In [42]:
lst=[word[0] for word in words]
lst

['v', 'R', 'R', 'R', 'k', 'p', 'a']

#to accept multiple int no from kb

In [44]:
a,b,c=[i for i in input('Enter a num.').split()]

Enter a num.10 20 30

In [46]:
a

'10'

In [47]:
type(a)

str

In [57]:
a,b,c=[int(i) for i in input('Enter the numbres ').split()]
sum=a+b+c
sum

Enter the numbres 10 10 10

30

In [60]:
a,b,c=[int(i) for i in input("Enter The any Numbers ").split('')]

Enter The any Numbers 23,23 ,54

In [82]:
lst=[i for i in input('Enter a numbers').split()]
type(lst)

Enter a numbers1 1

list

In [87]:
lst=[ int(i) for i in input("Enter nos").split(',')]
total=sum(lst)
total

Enter nos10,10,10

TypeError: 'int' object is not callable

In [4]:
value=100
prime=[x for x in range(2,value) if all (x%y!=0 for y in range(2,x))]
print(prime)

print(len(prime))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25